.icon {
    display: inline-block;
    vertical-align: middle;
    &.icon-view-b {
        width: 180px;
        height: 180px;
        background: url('../../public/static/images/icon/icon-light.svg') no-repeat center/contain;
    }

    
}
